<!DOCTYPE html>
<html lang="en">

<head>
  <title>NO DUES</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container d-flex justify-content-center mt-50 mb-50" style="margin-top: 8rem;" id="certificate">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="invoice">
          <div class="card-header bg-transparent header-elements-inline" style="text-align:center;">
            <h1 class="card-title text-primary"><b style="color:black;font-family: Times New Roman, Times, serif;"> NO DUES CERTIFICATE </b></h1>
          </div>
          <div class="card-body" style="margin-top:5rem;font-size:1.5rem">
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-4 pull-left">
                  <ul class="list list-unstyled mb-0 text-left">
                    <li> PES University </li>
                    <li> Bengaluru </li>
                    <li> support@pesu.pes.edu </li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="mb-4 ">
                  <div class="text-sm-right">
                    <ul class="list list-unstyled mb-0 text-right">
                      <li> Date: <span><%= Date %> </span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p style="padding:80px 160px 70px 160px; font-size:2rem; text-align:center;">
              This is to certify that student with SRN <span id="stSRN"><%= SRN %></span> has no dues towards PES University as of <span id="curDate1"><%= Date %></span>
            </p>
          </div>
        </div>
        <div class="card-footer"style="">
          <h6> Digital Signature: </h6>
          <span class="text-muted" id="digSig"><%= Dsign %></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-12 text-right mb-3">
      <button class="btn btn-primary" style="margin-top:105px; padding:10px 25px 10px 25px" onclick="download_as_pdf()"> Download PDF </button>
    </div>
  </div>
  <%- include("partials/footer"); -%>