<%- include("partials/header_main"); -%>


<div class="form-check">
  <ul class="list-group center-block" style="margin: 10rem 30rem 0 30rem;">
    <%   for (let x = 0; x < dues.length; x++) {%>
    <div class="panel panel-default list-group-item">
      <div class="panel-heading">₹<%=dues[x].Amount%></div>
      <div class="panel-body"><%=dues[x].Purpose%></div>
      <div class="checkbox">
        <label><input type="checkbox" name="<%=x%>">Paid</label>
      </div>
    </div>
    
    <% }%>
    <button type="button" class="btn btn-primary">Done</button>
  </ul>
</div>

<%- include("partials/footer"); -%>