<%- include("partials/header_main"); -%>
<nav class="navbar navbar-inverse" style="border-radius: 0;">
  <div class="container-fluid">
    <ul class="nav navbar-nav" style="padding-left: 20px; padding-right: 20px;">
      <li>
        <a href="/index"> <b>HOME</b> </a>
      </li>
    </ul>
    <div class="navbar-header">
      <a id="student_" class="navbar-brand" style="color:yellow;"> NO DUES | Student </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/student"> Pending Dues </a></li>
    </ul>
  </div>
</nav>

<body>

  <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <!-- SHOW PENDING DUES -->
    <h2 style="margin-left:30rem"><%=SRN%></h2>
    <div class="form-check">
      <form class="list-group center-block" style="margin: 2rem 30rem 0 30rem;" method="post">
        <%   for (let x = 0; x < dues.length; x++) {%>
        <div class="panel panel-default list-group-item">
          <h1>₹<%=dues[x].Amount%></h1>
          <div class="panel-heading"><%=dues[x].Department%></div>
          <div class="panel-body"><%=dues[x].Purpose%></div>
        </div>
        <% }%>
        <button type="submit" class="btn btn-primary">OK</button>
      </form>
    </div>
  </div>
  <%- include("partials/footer"); -%>